.films {
  max-width: 300px;
  margin: auto;
  position: relative;
  border: 2px solid #afafaf;
}

.films_buttons {
  text-align: center;
}

.film_star {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #e2e2e2;
}

.film_star__active {
  color: yellow;
}
